<%-include("../partials/dashboard") %>
<%-include("../partials/flash") %>


<%-include("../promoters/asider") %>


<div class="main">


<%-include("../promoters/mobilesize") %>


<%-include("../promoters/header") %>


<div id="dashboard" class="section active">

  <%-include("../promoters/overview") %>

</div>


 <div id="wallet" class="section">

   <%-include("../promoters/wallet") %>

 </div>


 <div id="profile" class="section">

  <%-include("../promoters/innerPro") %>

 </div>


 <div id="promote-events" class="section">

   <%-include("../promoters/events") %>

 </div>


 <div id="analytics" class="section">

   <%-include("../promoters/analytics") %>

 </div>

 <div id="setting" class="section">

   <%-include("../promoters/setting") %>

 </div>


 <div id="support" class="section">

    <%-include("../promoters/support") %>

 </div>


 <div id="notification" class="section">

    <%-include("../promoters/notification") %>

 </div>


 <div id="feedback" class="section">

    <%-include("../promoters/feedback") %>

 </div>


 <div id="withdrawals" class="section">

   <%-include("../promoters/withdraw") %>

 </div>

 <%-include("../promoters/footer") %>

</div>
