<%-include("../partials/header") %>

<%-include("../partials/flash") %>

<div class="container">

 <div>


<%-include("../blogPost/slide") %>


<!-- <h3>News Locations</h3>
   <div class="stats">
       <div class="stat-item">
           <div class="stat-label">All</div>
       </div>
       <div class="stat-item">
           <div class="stat-label">Juba</div>
       </div>
       <div class="stat-item">
           <div class="stat-label">Yei</div>
       </div>
       <div class="stat-item">
           <div class="stat-label">Bor</div>
       </div>
       <div class="stat-item">
           <div class="stat-label">Yambio</div>
       </div>
       <div class="stat-item">
           <div class="stat-label">Nimule</div>
       </div>
       <div class="stat-item">
           <div class="stat-label">Malakal</div>
       </div>
       <div class="stat-item">
           <div class="stat-label">Abyei</div>
       </div>
       <div class="stat-item">
           <div class="stat-label">Torit</div>
       </div>
       <div class="stat-item">
           <div class="stat-label">Aweil</div>
       </div>
       <div class="stat-item">
           <div class="stat-label">Mundri</div>
       </div>
       <div class="stat-item">
           <div class="stat-label">Terekeka</div>
       </div>
       <div class="stat-item">
           <div class="stat-label">Rumbek</div>
       </div>
       <div class="stat-item">
           <div class="stat-label">Nasir</div>
       </div>
       <div class="stat-item">
           <div class="stat-label">Renk</div>
       </div>
       <div class="stat-item">
           <div class="stat-label">Kwajok</div>
       </div>
   </div> -->





    <%-include("../blogPost/featured") %>


    <% latest.reverse() %>
    <% if (latest.length > 0) { %>


        <div class="latest-news">

          <h3 class="latest-itemh3">Latest News</h3>
    <% latest.forEach((blog, index) => { %>
          <!-- Player news -->
          <div class="news-card">
              <img src="https://res.cloudinary.com/daiyjykmj/image/upload/<%= blog.image%>" alt="Football player" class="news-image">
              <div class="news-content">
                  <div class="news-title"><%= blog.title %></div>
                  <div class="news-excerpt"><%= blog.content?.slice(0, 240) %>.... <a href="/morePost/<%= blog._id %>">Read More</a></div>
                  <div id="news-excerpt"><%= blog.content?.slice(0, 25) %>.... <a href="/morePost/<%= blog._id %>">Read More</a></div>
                  <div class="news-time"><i class="far fa-clock"></i> <%= shortTime(blog.createdAt) %></div>
              </div>
          </div>

      <% }); %>

      <div class="news-card">
        <div class="pagination">
          <% if (currentPage > 1) { %>
            <a href="/kicking/?page=<%= currentPage - 1 %>">Previous</a>
          <% } %>

          <%
            let startPage = Math.max(1, currentPage - 2);
            let endPage = Math.min(totalPages, currentPage + 2);
          %>

          <% if (startPage > 1) { %>
            <a href="/kicking/?page=1">1</a>
            <% if (startPage > 2) { %><span>...</span><% } %>
          <% } %>

          <% for (let i = startPage; i <= endPage; i++) { %>
            <a href="/kicking/?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
          <% } %>

          <% if (endPage < totalPages) { %>
            <% if (endPage < totalPages - 1) { %><span>...</span><% } %>
            <a href="/kicking/?page=<%= totalPages %>"><%= totalPages %></a>
          <% } %>

          <% if (currentPage < totalPages) { %>
            <a href="/kicking/?page=<%= currentPage + 1 %>">Next</a>
          <% } %>
        </div>
      </div>

        </div>

        <% } else { %>
        <p style="text-align:center; font-size:1em; margin-top: 25px; margin-bottom: -30px">No Blog found now, please come back later.</p>
        <% } %>



    <div class="last-cont">

      <%-include("../blogPost/topstores") %>

      <%-include("../upcoming/upcominggames") %>

      </div>



  </div>




      <div class="sidebar">

        <div class="live-radio">

          <%-include("../blogPost/topnews") %>

          </div>
                <!--
          <h3>LIVE RADIO</h3>
          <button class="live-button">ON AIR</button> -->


        <!-- <%-include("../upcoming/upcoming") %> -->


        <%-include("../blogPost/trending") %>

        <div class="last-cont">

          <%-include("../upcoming/upcominggames") %>

          <%-include("../blogPost/topstores") %>

          </div>
      </div>
    </div>




</div>




  <%-include("../partials/footer") %>
