<%-include("../partials/dashboard") %>
<%-include("../partials/flash") %>


<%-include("../vendors/asider") %>


<div class="main">


<%-include("../vendors/mobilesize") %>


<%-include("../vendors/header") %>


<div id="dashboard" class="section active">

  <%-include("../vendors/overview") %>

</div>


 <div id="profile" class="section">

  <%-include("../vendors/profile") %>

 </div>


 <div id="my-listings" class="section">

   <%-include("../vendors/listings") %>

 </div>


 <div id="create-listing" class="section">

    <%-include("../vendors/service") %>

 </div>

 <div id="support" class="section">

    <%-include("../vendors/support") %>

 </div>


 <div id="notification" class="section">

    <%-include("../vendors/notification") %>

 </div>


 <div id="feedback" class="section">

    <%-include("../vendors/feedback") %>

 </div>

 <div id="setting" class="section">

    <%-include("../vendors/setting") %>

 </div>



<%-include("../vendors/footer") %>


</div>
