<h2>Orders information</h2>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>S/No</th>
        <th>Ticket code</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Book By</th>
        <th>Book On</th>
        <th>Status</th>
        <!-- <th>Action</th> -->
      </tr>
    </thead>
    <tbody>
      <% users.forEach((user, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= user.booking_reference.slice(5, 12) %></td>
          <td><%= user.attendeeName.slice(0, 10) %>...</td>
          <td><%= user.attendeeEmail.slice(0, 7) %>...</td>
          <td><%= user.attendeePhone %></td>
          <td><%= user.name %></td>
          <td><%= user.createdAt.toISOString().substring(0,10) %></td>
          <td><%= user.ticket_status %></td>
          <!-- <td><a class="view-btn" href="#">Use Ticket</a></td> -->
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
