<%-include("../partials/dashboard") %>
<%-include("../partials/flash") %>

<%-include("../attendees/asider") %>


<div class="main">

  <%-include("../attendees/mobilesize") %>


  <%-include("../attendees/header") %>


  <div id="dashboard" class="section active">

    <%-include("../attendees/overview") %>

  </div>


  <div id="profile" class="section">

    <%-include("../attendees/profile") %>

  </div>



  <div id="browse-events" class="section">

    <%-include("../attendees/event") %>

  </div>



  <div id="my-tickets" class="section">

    <%-include("../attendees/ticket") %>

  </div>


  <div id="notifications" class="section">

    <%-include("../attendees/notification") %>

  </div>

  <div id="support" class="section">

    <%-include("../attendees/support") %>

  </div>


  <div id="feedback" class="section">

    <%-include("../attendees/feedback") %>

  </div>


  <div id="settings" class="section">

    <%-include("../attendees/setting") %>

  </div>


  <%-include("../partials/footer") %>


</div>
