<% if (blogs.length > 0) { %>
  <div class="profile-section">

    <div class="profile-grid">
     <% blogs.forEach(blog => { %>
      <div class="profile-card">
        <img src="<%= blog.image || 'https://via.placeholder.com/300x180' %>" alt="Event Image" />
        <div class="details">
          <h4><%= blog.title?.slice(0,25) %>...</h4>
          <p><%= blog.content?.slice(0,50) %>...</p>
          <p><%= new Date(blog.createdAt).toDateString() %> </p>
          <a class="view-btn" href="/editBlog/<%= blog._id %>">Edit</a>
          <a class="view-btn" href="/more/<%= blog._id %>">View</a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

<% } else { %>
  <p>No events posted yet.</p>
<% } %>
