<%-include("../partials/dashboard") %>
<%-include("../partials/flash") %>


<%-include("../superAdmin/asider") %>


<div class="main">


<%-include("../superAdmin/mobilesize") %>


<%-include("../superAdmin/header") %>


<div id="dashboard" class="section active">

  <%-include("../superAdmin/overview") %>

</div>


 <div id="wallet" class="section">

   <%-include("../superAdmin/wallet") %>

 </div>


 <div id="profile" class="section">

  <%-include("../superAdmin/profile") %>

 </div>


 <div id="events" class="section">

   <%-include("../superAdmin/events") %>

 </div>


 <div id="blogs" class="section">

   <%-include("../superAdmin/blogs") %>

 </div>


 <div id="services" class="section">

   <%-include("../superAdmin/services") %>

 </div>


 <div id="ticket-sales" class="section">

   <%-include("../superAdmin/finance") %>

 </div>


 <div id="create-event" class="section">

    <%-include("../superAdmin/create_event") %>

 </div>


 <div id="create-service" class="section">

    <%-include("../superAdmin/create_service") %>

 </div>


 <div id="create-blog" class="section">

    <%-include("../superAdmin/create_blog") %>

 </div>


 <div id="scan-tickets" class="section">

  <%-include("../superAdmin/checkin") %>

 </div>


 <div id="analytics" class="section">

   <%-include("../superAdmin/analytics") %>

 </div>


 <div id="withdrawals" class="section">

   <%-include("../superAdmin/withdraw") %>

 </div>






 <div id="users" class="section">

   <%-include("../superAdmin/attendees") %>

 </div>


 <div id="vendors" class="section">

   <%-include("../superAdmin/vendors") %>

 </div>


 <div id="organizers" class="section">

   <%-include("../superAdmin/organizers") %>

 </div>


 <div id="promoters" class="section">

   <%-include("../superAdmin/promoters") %>

 </div>


 <div id="admins" class="section">

   <%-include("../superAdmin/admin") %>

 </div>


 <div id="feedback" class="section">

   <%-include("../superAdmin/feedback") %>

 </div>


 <div id="support" class="section">

   <%-include("../superAdmin/support") %>

 </div>


 <div id="settings" class="section">

   <%-include("../superAdmin/setting") %>

 </div>


 <%-include("../superAdmin/footer") %>

</div>
