<table>
  <thead>
   <tr>
     <th>S/No</th>
     <th>Signup update</th>
     <!-- <th>subscription type</th>
     <th>subscription EndDate</th> -->
     <th>User Name</th>
     <th>Email Address</th>
     <th>Verified</th>
     <th>Suspended</th>
     <th>Action</th>
   </tr>
 </thead>
 <tbody>
   <% users.forEach(function(user,i) {  %>
     <tr>
       <td><%= i+1%></td>
       <td><%= moment(user.createdAt).format("ll") %></td>
       <!-- <td><%= user.subscriptionType %></td>
       <td><%= moment(user.monthlyEndDate).format("lll") %></td> -->
       <td><%= user.username %></td>
       <td><%= user.email %></td>
       <td><%= user.isVerified ? 'Yes' : 'No' %></td>
       <td><%= user.isSuspended ? 'Yes' : 'No' %></td>
       <td>
         <% if (!user.isSuspended) { %>
           <form method="post" action="/suspendUser">
             <input type="hidden" name="userId" value="<%= user._id %>">
             <button type="submit">Suspend</button>
           </form>
         <% } else { %>
           <form method="post" action="/unsuspendUser">
             <input type="hidden" name="userId" value="<%= user._id %>">
             <button type="submit">Unsuspend</button>
           </form>
         <% } %>
       </td>
       <td>
         <% if (!user.isVerified) { %>
           <form method="post" action="/isVerified">
             <input type="hidden" name="userId" value="<%= user._id %>">
             <button type="submit">Not verify</button>
           </form>
         <% } else { %>

             <button>verified</button>

         <% } %>
       </td>
       <td>
         <form method="post" action="/deleteUser">
           <input type="hidden" name="userId" value="<%= user._id %>">
           <button type="submit">Delete</button>
         </form>
       </td>
     </tr>
   <% }); %>
 </tbody>
</table>
