<%-include("../partials/dashboard") %>
<%-include("../partials/flash") %>


<%-include("../organisers/asider") %>


<div class="main">


<%-include("../organisers/mobilesize") %>


<%-include("../organisers/header") %>


<div id="dashboard" class="section active">

  <%-include("../organisers/overview") %>

</div>


 <div id="wallet" class="section">

   <%-include("../organisers/wallet") %>

 </div>


 <div id="profile" class="section">

  <%-include("../superAdmin/profile") %>

 </div>


 <div id="my-events" class="section">

   <%-include("../organisers/events") %>

 </div>


 <div id="ticket-sales" class="section">

   <%-include("../organisers/finance") %>

 </div>


 <div id="attendees" class="section">

   <%-include("../organisers/attendees") %>

 </div>


 <div id="create-event" class="section">

    <%-include("../organisers/create_event") %>

 </div>


 <div id="create-blog" class="section">

    <%-include("../organisers/create_blog") %>

 </div>


 <div id="scan-tickets" class="section">

  <%-include("../organisers/checkin") %>

 </div>


 <div id="analytics" class="section">

   <%-include("../organisers/analytics") %>

 </div>


 <div id="withdrawals" class="section">

   <%-include("../organisers/withdraw") %>

 </div>

 <%-include("../organisers/footer") %>

</div>
