<% if (services.length > 0) { %>
  <div class="profile-section">
    <h3>Active Events</h3>
    <div class="profile-grid">
     <% services.forEach(service => { %>
      <div class="profile-card">
        <img src="<%= service.images || 'https://via.placeholder.com/300x180' %>" alt="Event Image" />
        <div class="details">
          <h4><%= service.name?.slice(0,25) %>...</h4>
          <p><%= service.description?.slice(0,50) %>...</p>
          <p><%= new Date(service.createdAt).toDateString() %></p>
          <a class="view-btn" href="/editService/<%= service._id %>">Edit</a>
          <a class="view-btn" href="/showService/<%= service._id %>">View</a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

<% } else { %>
  <p>No events posted yet.</p>
<% } %>
